.navbar-brand,
.navbar-nav .nav-link {
    color: #05386b;
}

.creds-container{
    position: absolute;
    right: 5%;
}

.log-out-link{
    color: #05386B !important;
    font-weight: 500;
    font-size: 24px;
    margin-left: 40px;
    position: relative;
}
.log-out-link:hover{
    color: #0D476F;
}

.log-out-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #0D476F;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.log-out-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-text.logged-in-as-label {
    color: #05386B;
    font-weight: 500;
    font-size: 24px;
    cursor: default;
    right: 10%;
}

.logo {
    margin-left: 2vw;
    min-width: 150px;
    width: 11vw;
    height: auto;
}

@media (max-width: 768px) {
    .navbar-text.logged-in-as-label {
        font-size: 16px;
        right: 0;
        text-align: right;
    }
    .log-out-link{
        font-size: 16px;
        margin-left: 20px;
    }
}
@media (max-width: 576px){
    .navbar-text.logged-in-as-label {
        font-size: 16px;
        right: 0;
        text-align: right;
    }
    .log-out-link{
        font-size: 16px;
    }
    .creds-container{
        display: grid;
        right: 5%;
        max-width: 60%;
    }
    .navbar-text.logged-in-as-label span{
        width: 100%;
        display: block;
    }
}
