@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #5cdb95;
}

::-moz-selection {
    background: #0b5aaa;
}

::selection {
    background: #0b5aaa;
}

@media (max-width: 1035px) {
    .login-button-container .google {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}
@media (max-width: 400px){
    .hide-on-very-small{
        display: none !important;
    }
}
