.source-logo {
	transition: all 200ms ease-in-out;
}
.source-logo:hover{
	transform: scale(1.05);
}
.youtube-source-logo-blue {
	margin-right: 3rem;
	width: 300px;
}
.spotify-source-logo-blue {
	margin-left: 3rem;
	width: 250px;
	margin-top: 25px
}
.center-heading.heading-big {
	color: #edf5e1;
}
@media (max-width: 767px) {
	.youtube-source-logo-blue,
	.spotify-source-logo-blue {
		width: 50%;
		margin: 0 !important;
	}
	.center-heading.heading-big{
		margin-bottom: 20px;
	}
}
