@import '~antd/dist/antd.css';

body {
	overflow: hidden;
}

.radio-button-hover-color {
	color: black;
}
.spotify-table {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 920px;
	height: 349px;
}
.ant-table {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}

/* .ant-table .ant-table-row-level-0 > td {
	color: #05386b;
} */
/*HEADER STYLING*/
.ant-table-thead > tr > th > span {
	color: #edf5e1;
	letter-spacing: 0.05em;
}
.ant-table-thead > tr > th:nth-child(1) {
	visibility: hidden;
}
.ant-table-thead > tr > th {
	border: none;
}
.ant-table-header {
	background: #05386b;
}

/*Keicia TĄ header'io išsikišima*/
div.ant-table-scroll > div.ant-table-header.ant-table-hide-scrollbar {
	margin-bottom: -10px !important;
}

.ant-table-thead > tr > th {
	background-color: #05386b;
}

/*CHECKBOX STYLING*/
.ant-radio {
	height: 26px;
	width: 26px;
	border: 3px solid #7ad768;
	border-radius: 50px;
	background-color: transparent;
	margin: auto;
	position: relative;
	top: 50%;
}

.ant-radio:hover {
	border: 3px solid #7ad768 !important;
}
.ant-radio-inner {
	border: none;
	width: 14px;
	height: 14px;
	margin: auto;
	position: relative;
	top: 15%;
}
.ant-radio-inner::after {
	background-color: #7ad768;
}

.ant-radio-indeterminate .ant-radio-inner::after {
	background-color: white !important;
}
.ant-radio-checked .ant-radio-inner {
	background-color: #7ad768;
	border: none;
	margin: auto;
	border-radius: 50px;
	position: relative;
	top: 15%;
}

/*SCROLLBAR STYLING*/

/* The entire scrollbar. */
div::-webkit-scrollbar {
	width: 10px;
}
/*The scrollable part*/
::-webkit-scrollbar-thumb {
	background-color: #05386b;
	border-radius: 20px;
}
/*the part of the track (progress bar) not covered by the handle.*/
div::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

/*RESPONSIVE DESIGN*/
@media (max-width: 1035px) {
	.spotify-table {
		width: 70%;
	}
}
