@import '~antd/dist/antd.css';

.spotify-table {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 740px;
	height: 349px;
}

.ant-table-thead > tr > th {
	background-color: #05386b;
}
.ant-table-thead > tr > th > span {
	color: #edf5e1;
}

@media (max-width: 1035px) {
	.spotify-table {
		width: 70%;
	}
}
